# Prerequisites
*.d

# Object files
*.o

# Linker output
*.ilk
*.map
*.exp
*.lst

# Executables
*.elf
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

/EasterEggBootloader/Debug/EasterErrBootloader.bin
*.log
*.raw
